:root {
  font-size: 16px;
}

/* Service */
.invisible {
  display: none;
}

/* Protection from user settings */
body {
  background-color: white;
}

/* Screen limitation */
main {
  max-width: 90rem;
  min-width: 45rem;
  margin: 0 auto;
}

.flex-container {
  display: flex;
}

section {
  border: 3px;
  border-color: red;
}
